.nav {
    width: 100%;
    @include dsc();

    &--img {
        width: 270px;
        height: 280px;
        margin-top: 20px;
        
    }
}

.navbloc {
    width: 100%;
    @include dsf(flex-end);
    margin: 10px 20px 0 0;
    font-size: 20px;

    &--insc {
        margin-right: 20px;
        color: $primary-color;
        text-decoration: none;
    }

    &--conn {
        color: $primary-color;
        text-decoration: none;
    }
}

.nav-active {
    border-bottom: 2px solid $secondary-color;
}

