.np {
    @include dsc();
    width: 60%;

    &__container {
        @include dsc();
        width: 90%;
        box-shadow: $box-shadow;
        background-color: white;
        margin-top: 50px;
        padding: 20px;
        border-radius: 25px;

        &--title {
            background-color: black;
            padding: 10px;
            color: white;
            border: 3px solid $secondary-color;
        }
    }

    &--paragraphe {
        border-bottom: 2px solid $secondary-color;
        font-size: 20px;
    }
}

.np__form {
    @include dsc();
    width: 100%;

    &--title {
        @include dsc();
        align-items: flex-start;
        width: 100%;

        &--titre {
            width: 100%
        }
    }

    &--description {
        @include dsc();
        align-items: flex-start;
        width: 100%;

        &--ta {
            width: 100%;
            max-width: 100%;
            min-height: 70px;
            border: 2px solid $primary-color;
        }
    }

    &--file {
        @include dsc();
        align-items: flex-start;
        width: 100%;

        &--in {
            display: none;
            border: none;
        }

        &--container {
            @include dsc();
            width: 100%;
            margin-top: 10px;
            position: relative;

            &--img {
                width: auto;
                max-width: 100%;
                max-height: 400px;
            }
        }
    }

    &--valid {
        font-size: 20px;
        color: white;
        background-color: green;
        border: none;
        padding: 12px;
        margin-top: 25px;
        border-radius: 20px;
        

        &:hover {
            background-color: lighten(green, 3%);
            cursor: pointer;
        }
    }
}

.file_button--style {
    color: white;
    background-color: lighten($primary-color, 20%);
    border: none;
    padding: 10px;
    margin-top: 20px;

    &:hover {
        background-color: lighten($primary-color, 25%);
        cursor: pointer;
    }
}

.delete {
    position: absolute;
    @include dsf(center);
    align-items: center;
    top: -30px;
    right: 30px;
    color: white;
    font-size: 22px;
    background-color: darken($secondary-color, 5%);
    border: none;
    height: 30px;
    width: 30px;
    border-radius: 50% 50%;
    padding: 10px;
    margin-top: 20px;

    &:hover {
        background-color: darken($secondary-color, 10%);
        cursor: pointer;
    }
}

#error {
    display: none;
    color: red;
}

// version mobile
@media screen and (max-width: 768px) {

    .np {
        width: 100%;
    }
    
}